/* CSS reset
    (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
    (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #111;
}

header,
.input-item,
.list,
.totals {
    widtH: 34rem;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}


/* Header styles
    (all the styles inside the < header > or < nav > tags)
*/

header {
    padding-top: 1.5rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}


/* Content styles
    (all the styles inside the < sections > or < aside > tags)
*/

input.new-item {
    padding: 10px;
}

.add-item {
    margin-left: 7px;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.input-item {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input {
    padding: 3px;
    border: 1px solid #C0C0C0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.list-items {
    line-height: 2.5rem;
}

.checkbox {
    margin-left: 1rem;
    margin-right: 1rem;
}

.delete,
.budget-price,
.actual-price {
    float: right;
}

.budget-price,
.actual-price {
    width: 3.5rem;
    margin-right: .5rem;
}

.checkbox,
.delete,
.add-item {
    background-color: #fff;
}

.delete {
    margin-left: 1rem;
}


/* Footer styles
    (all the styles inside the < footer > tag)
*/


/* Responsive styles
    (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
